layout {
	pane split_direction="vertical" {
		pane size="30%" split_direction="horizontal" {
			pane size="40%" borderless=true
			pane size="60%" borderless=true
		}
		pane size="70%" borderless=true focus=true
	}
	pane size=1 borderless=true {
        plugin location="zellij:compact-bar"
    }
}
