* {
  border: none;
  border-radius: 0;
  font-family: "monospace";
  font-size: 14px;
  min-height: 0;
}

@keyframes blink-warning {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: orange;
  }
}

@keyframes blink-critical {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: red;
  }
}

window#waybar {
  background: #2b2b2b;
  color: #fdf6e3;
}

#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
  padding-left: 10px;
  padding-right: 10px;
}

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning {
  color: orange;
}

#battery.critical {
  color: red;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#network.disconnected {
  color: orange;
}

#window {
  font-weight: bold;
}

#workspaces button {
  border-top: 2px solid transparent;
  /* To compensate for the top border and still have vertical centering */
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: #888888;
}

#workspaces button:hover {
  border-color: #5a8eb6;
  color: white;
  background-color: #345c7b;
}

#workspaces button.focused {
  border-color: #4c7899;
  color: white;
  background-color: #285577;
}

#workspaces button.urgent {
  border-color: #c9545d;
  color: #c9545d;
}

#pulseaudio {
  color: #268bd2;
}

#memory {
  color: #2aa198;
}

#cpu {
  color: #6c71c4;
}

#battery {
  color: #859900;
}

#disk {
  color: #b58900;
}